{% extends 'mainAdmin/admin-base.html' %}
{% load static %}

{% block optional %}
{% endblock %}

{% block user %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">

                <div class="start-stream">
                    <div class="col-lg-12">
                        <div class="heading-section">
                            <h4><em>Are you going to Delete ?</em> {{ movie.title }}</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-button">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-danger btn-lg" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
