{% extends 'user/base.html' %}
{% load static %}

{% block content %}


<div class="most-popular">
    <div class="row">
        <div class="col-lg-12">
            <div class="heading-section">
                <h4><em>Most Popular</em> Right Now</h4>
            </div>

            <div class="row">
                {% for movie in page %}

                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <img src="{{ movie.poster.url }}" alt="">
                        <h4>{{ movie.title }}<br><span>{{ movie.release_year }}</span></h4>
                        <ul>
                            <li><i class="fa fa-star"></i>
                                {% if movie.rating %}
                                    {{ movie.rating }}
                                {% else %}
                                    5.0
                                {% endif %}
                            </li>
                            <li><i class="fa fa-play"></i><a href="{{ movie.trailer_link }}">Trailer</a></li>
                        </ul>
                    </div>
                </div>

                {% endfor %}

                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">

                    {% if page.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    {% endif %}

                    {% for num in page.paginator.page_range %}

                    <li class="page-item {% if page.number == num %} activate {% endif %}">
                        <a class="page-link" href="?page={{num}}">{{ num }}</a></li>

                    {% endfor%}

                    {% if page.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% endif %}

                  </ul>
                </nav>


            </div>
        </div>
    </div>
</div>
<!-- ***** Most Popular End ***** -->

<!-- ***** Movie Library Start ***** -->
<div class="gaming-library">
    <div class="col-lg-12">
        <div class="heading-section">
            <h4><em>Your Movie</em> Library</h4>
        </div>

        {% for movie in page %}
        <div class="item">
            <ul>
                <li><img src="{{ movie.poster.url }}" alt="" class="templatemo-item"></li>
                <li><h4>{{ movie.title }}</h4><span>{{ movie.release_year }}</span></li>
                <li><h4>Genre</h4><span>{{ movie.genres }}</span></li>
                <li><h4>Added by</h4><span>{{ movie.added_by }}</span></li>

                <li>
                    <div class="main-border-button border-active" >
                        <a href="{% url 'update' movie.id %}">Update</a>
                    </div>
                </li>
                <li>
                    <div class="main-border-button border-active " >
                        <a href="{% url 'details' movie.id %}">Details</a>
                    </div>
                </li>
                <li>
                    <div class="main-border-button border-active" style="padding:0px;">
                        <a href="{% url 'delete' movie.id %}">Delete</a>
                    </div>
                </li>
            </ul>
        </div>
        {% endfor %}

    </div>

</div>


{% endblock %}